
<header>
    <div class="container">
        <div class="row pb-2">
            <div class="col-md-3"><img src="../../assets/images/green-town-logo-.png" class="img-fluid"></div>
            <div class="col-md-9 text-right" style="display:flex; align-items:center; justify-content:flex-end;">
                <div class="top-menu">
                    <ul>
                        <li><a><i class="fa fa-phone"></i> 289-217-0128</a></li>
                        <li><a><i class="fa fa-envelope"></i> michelle.greentown@gmail.com</a></li>
                        <li><a routerLink="my-account"><i class="fa fa-user"></i>My Account</a></li>
                        
                        <li><a routerLink="logout"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 489.9 489.9" width="15" height="15" fill="#81c02b" style="enable-background:new 0 0 489.9 489.9;" xml:space="preserve">
                       <g>
                           <g>
                               <g>
                                   <path d="M468.3,255.8c0.1-0.1,0.1-0.1,0.2-0.2c0.3-0.4,0.6-0.7,0.8-1.1c0.1-0.1,0.1-0.2,0.2-0.3c0.2-0.4,0.5-0.8,0.7-1.2
                                       c0-0.1,0.1-0.2,0.1-0.2c0.2-0.4,0.4-0.8,0.6-1.3c0-0.1,0-0.1,0.1-0.2c0.2-0.4,0.3-0.9,0.5-1.4c0-0.1,0-0.2,0.1-0.2
                                       c0.1-0.5,0.3-0.9,0.3-1.4c0-0.2,0-0.3,0.1-0.5c0.1-0.4,0.1-0.8,0.2-1.2c0.1-0.6,0.1-1.1,0.1-1.7c0-0.6,0-1.1-0.1-1.7
                                       c0-0.4-0.1-0.8-0.2-1.2c0-0.2,0-0.3-0.1-0.5c-0.1-0.5-0.2-0.9-0.3-1.4c0-0.1,0-0.2-0.1-0.2c-0.1-0.5-0.3-0.9-0.5-1.4
                                       c0-0.1,0-0.1-0.1-0.2c-0.2-0.4-0.4-0.9-0.6-1.3c0-0.1-0.1-0.2-0.1-0.2c-0.2-0.4-0.4-0.8-0.7-1.2c-0.1-0.1-0.1-0.2-0.2-0.3
                                       c-0.3-0.4-0.5-0.8-0.8-1.1c-0.1-0.1-0.1-0.1-0.2-0.2c-0.4-0.4-0.7-0.9-1.2-1.3l-98.9-98.8c-6.7-6.7-17.6-6.7-24.3,0
                                       c-6.7,6.7-6.7,17.6,0,24.3l69.6,69.6H136.8c-9.5,0-17.2,7.7-17.2,17.1c0,9.5,7.7,17.2,17.2,17.2h276.8l-69.1,69.1
                                       c-6.7,6.7-6.7,17.6,0,24.3c3.3,3.3,7.7,5,12.1,5s8.8-1.7,12.1-5l98.3-98.3C467.5,256.6,467.9,256.2,468.3,255.8z"/>
                                   <path d="M110.7,34.3h128c9.5,0,17.2-7.7,17.2-17.1c0-9.5-7.7-17.2-17.2-17.2h-128C59.4,0,17.6,41.8,17.6,93.1v303.7
                                       c0,51.3,41.8,93.1,93.1,93.1h125.9c9.5,0,17.2-7.7,17.2-17.1c0-9.5-7.7-17.2-17.2-17.2H110.7c-32.4,0-58.8-26.4-58.8-58.8V93.1
                                       C52,60.6,78.3,34.3,110.7,34.3z"/>
                               </g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                           <g>
                           </g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       <g>
                       </g>
                       </svg></a></li>
                       <li><a routerLink="my-account" [routerLink]="['/cart']" routerLinkActive="router-link-active" ><i class="fa fa-cart-plus"></i><span>{{ countTotal }}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="site-menu">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <nav class="navbar navbar-expand-lg justify-content-between">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="fa fa-reorder" style="color: #4b7b0a; font-size: 24px; padding-top: 3px;"></i></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li  class="nav-item active">
                                    <a routerLink="product-list" class="nav-link">HOME</a>
                                </li>
                                <li *ngFor="let item of categories" class="nav-item ">
                                    <a routerLink="/product-list/{{item.id}}" class="nav-link">{{ item.name }} </a>
                                </li>
                                <!-- <li class="nav-item ">
                                    <a class="nav-link">4FLEX </a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link">PRINTS </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">CLASSIX </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">LABCOATS</a>
                                </li> -->
                                <!-- <li class="nav-item">
                                    <a routerLink="order-history" class="nav-link">HISTORY</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="sales" class="nav-link">SALES</a>
                                </li> -->
                            </ul>
                            <div class="form-inline my-2 my-lg-0 float-right top-serach">
                                <input class="form-control mr-sm-2" [(ngModel)]="term" (keyup) = "childWillTakeAction(term)" type="search" placeholder="Search  here .." aria-label="Search">
                                <button class=" my-2 my-sm-0 fill-srch" type="button" (click) = "childWillTakeAction(term)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- <app-productlist [term] ="term"></app-productlist> -->
<router-outlet></router-outlet>