<div class="thank-you">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1 mt-5 pt-5">
                <div class="thankyou text-center">
                    <img src="../../assets/images/green-town-logo-.png" class="img-fluid">
                    <div class="thank-tyou-content pt-5">
                        <h1 style="line-height: 52px;"> Thank you for registering with us. <br> You will be able to access the account once it is approved</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>