<div class="container h-100">
    <div class="login col-4 ml-auto mr-auto p-0">
        <!-- <img class="col-12" src='./../../../assets/images/pixeem_logo.jpg' /> -->
        <!-- <img
        class="col-12 w-75 mx-auto d-block"
        src="./../../../assets/images/pixeem_logo_bl.png"
      /> -->
        <div class="login-container">
            <h1 class="login-header">
                {{ pageTitle }}
            </h1>

            <div class="login-body">
                <form *ngIf="recoveryData && recoveryData.methods && recoveryData.methods.link" ngNoForm
                    [action]="recoveryData.methods.link.config.action" class="needs-validation" autocomplete="off"
                    method="{{ recoveryData.methods.link.config.method }}">
                    <fieldset>
                        <div class="form-group row" *ngFor="let field of recoveryData.methods.link.config.fields">
                            <label class="col-md-2 col-form-label" for="{{ field.name }}"
                                *ngIf="field.type != 'hidden'">{{ field.name }}</label>
                            <div class="col-md-8" *ngIf="field.name != 'csrf_token'">
                                <input class="form-control" id="{{ field.name }}" type="{{ field.type }}"
                                    placeholder="{{ field.name }}" required="{{ field.required }}"
                                    name="{{ field.name }}" />
                            </div>
                            <div class="col-md-8" *ngIf="field.name == 'csrf_token'">
                                <input class="form-control" id="{{ field.name }}" type="{{ field.type }}"
                                    required="{{ field.required }}" name="{{ field.name }}" value="{{field.value}}" />
                            </div>
                            <div *ngIf="field.messages">
                                <p class="error" *ngFor="let message of field.messages">{{message.text}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <span class="d-flex justify-content-start">
                                    <a class="btn btn-light" routerLink="/login"> Cancel </a>
                                </span>
                                <span class="d-flex justify-content-end">
                                    <button class="btn btn-primary" type="submit"
                                        style="width: 80px; margin-right: 10px">
                                        send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group row" *ngIf="recoveryData.methods.link.config.messages">
                            <div *ngFor="let message of recoveryData.methods.link.config.messages">
                                {{ message.text }}
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="alert alert-danger" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group">
                    <div class="d-flex col-md-2" routerLink="/register">Register</div>
                    <div class="d-flex col-md-2" routerLink="/login">
                        Login
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>