<div class="thank-you">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="thankyou text-center">
                    <div class="symbol">
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="thank-tyou-content ">
                        <h2>ORDER CONFIRMED</h2>
                        <p>Transaction ID <span><b> : OD2545125</b> </span></p>
                        <P>Your order is confirmed and will be on its way soon</P>
                        <button type="button" [routerLink]="['/product-list']" class="btn btn-success btn-sm btn-2-cstm mt-3 border-0 p-1">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>